              <h3 class="rubric">Book Reviews</h3>
                <div>
                    <div class="article-shout">
                      <p class="rubric">Reviewers Choice</p>
                      <h3>4 out of 5</h3>
                      <p class="blurb">
                        livetowriteanotherdayCrafting a well-written story has always been a monumental task, even for the most talented of writers, and enduring the many harsh realities of doing it for a living can be equally painful.
                      </p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="modal" data-target="#bookReviews">
                        more. . .
                      </a></p>
                    </div>  
                  </div>

<!-- Modal -->
<div class="modal fade" id="bookReviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Book Summary</h4>
      </div>
      <div class="modal-body">
        <div>
          <h4>Download</h4>
          <ul class="downloads-list">
            <li>
              <%= link_to 'PDF', '#'%>
            </li>
            <li>
              <%= link_to 'Word', '#'%>
            </li>
            <li>
              <%= link_to 'TXT', '#'%>
            </li>
            <li>
              <%= link_to 'RFT', '#'%>
            </li>
            <!--<li>
              Image: <%= link_to 'JPG', '#'%>
            </li>-->
          </ul>
        </div>
        <h2>Book review: <em>Live To Write Another Day: A Survival Guide for Screenwriters and Creative Storytellers</em> by <strong>Dean Orion</strong> (Sky Father Media, 2013)</h2>
        
        <p>Crafting a well-written story has always been a monumental task, even for the most talented of writers, and enduring the many harsh realities of doing it for a living can be equally painful. Using a mix of practical techniques and common sense, "Live To Write Another Day, A Survival Guide for Screenwriters and Creative Storytellers," demonstrates how writers can solve creative problems in their work and at the same time reduce the stress and anxiety that often comes along with the job.</p>
        
        <p>The author, Dean Orion, draws on his more than 20 years as a "writer in the trenches" of the entertainment industry to explain how he has created original stories for theater, television, videogames and theme park experiences. The book features a step-by-step walk thru of the process of creating original stories, both "on spec" and "for hire," as well as helpful hands-on checklists at the end of each chapter, and an intriguing afterword about the future of storytelling.</p>
        <p>Written in a conversational style, "Live To Write Another Day, A Survival Guide for Screenwriters and Creative Storytellers," is both a tell-it-like-it-is approach to demystifying the nuts-and-bolts mechanics of storytelling and an inspirational, heartfelt primer on what it takes to be a professional creative writer.</p>
        <p>While this isn't a really long book, it's a good read. Author and screenwriter Dean Orion shares the insights he's gathered from his many years of writing. Whether you're struggling with writer's block or procrastination, he gives you ideas on how to get back on track.</p>
        <p>Using many anecdotes from his own life, the reader (or, rather, aspiring writer) gets a good idea of what working as a writer is actually like, along with many good examples of what you should avoid - and why - and also the sort of things you are better off knowing.</p>
        <p>The tone of the book is friendly and oftentimes amusing, and I found it very easy to read. It also gave me lots of inspiration, so it's definitely a book I would recommend to anyone who wants to be a writer - whether it's for professional purposes or just for a love of the craft.</p>
        <p>4 out of 5 writing spaces.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

